make focused changes to deal with the issue at hand, do not arbitraily change unrelated code
if a better refactor is possible, propose it prior to making edits
you have a tendency to guess at solutions and hack till you find the right one.  don't do that.  be systematic and critical of your thoughts.
