version: "3.9"
services:
  neuralami:
    env_file:
      - ./env-files/.env.${DJANGO_ENV:-development}
      - ./env-files/.env.local  # Local overrides

  celery_worker:
    env_file:
      - ./env-files/.env.${DJANGO_ENV:-development}
      - ./env-files/.env.local

  celery_beat:
    env_file:
      - ./env-files/.env.${DJANGO_ENV:-development}
      - ./env-files/.env.local 