{% load static file_extension info_value %}

<!-- Include all modal components -->
{% include 'file_manager/components/modals/upload_modal.html' %}
{% include 'file_manager/components/modals/create_folder_modal.html' %}
{% include 'file_manager/components/modals/rename_folder_modal.html' %}
{% include 'file_manager/components/modals/delete_folder_modal.html' %}
{% include 'file_manager/components/modals/rename_file_modal.html' %}
{% include 'file_manager/components/modals/delete_file_modal.html' %}
{% include 'file_manager/components/modals/file_info_modal.html' %}
{% include 'file_manager/components/modals/file_preview_modal.html' %}
{% include 'file_manager/components/modals/batch_delete_modal.html' %}
{% include 'file_manager/components/modals/move_files_modal.html' %}