<footer class="footer pt-3">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-lg-6 mb-lg-0 mb-4">
        <div class="copyright text-center text-sm text-muted text-lg-start">
          &copy; 2025 | SEO Manager v{{ VERSION }} | coded by <a href="https://www.neuralami.com" class="font-weight-bold">Neuralami LLC</a>  
          <a href="https://www.neuralami.com/privacy-policy" class="text-muted">| Privacy Policy</a> | 
          <a href="https://www.neuralami.com/terms-and-conditions" class="text-muted">Terms of Service</a>
        </div>
      </div>
      <div class="col-lg-6 mb-lg-0 mb-4 text-center text-lg-end">
        <a href="mailto:support@neuralami.com" class="text-muted">Contact Us</a> | 
        <a href="https://www.facebook.com/neuralamillc" class="text-muted">Facebook</a> | 
        <a href="https://x.com/neuralami" class="text-muted">Twitter</a> | 
        <a href="https://www.linkedin.com/company/neuralami" class="text-muted">LinkedIn</a>
      </div>
    </div>
  </div>
</footer>