{% load static file_extension %}

{% for item in directories %}
    {% if item.type == 'directory' %}
    <li class="folder-item" data-path="{{ item.path }}">
        <div class="folder-content d-flex align-items-center">
            <i class="fas fa-chevron-down me-2"></i>
            <i class="fas fa-folder text-warning me-2"></i>
            <a href="{% url 'file_manager' item.path|urlencode %}">{{ item.name }}</a>
        </div>
        <ul class="folder-contents ps-4">
            {% with directory=item.path %}
                {% include 'includes/subdirectories.html' %}
            {% endwith %}
        </ul>
    </li>
    {% endif %}
{% endfor %}