<!-- Placeholder for keyword impact map content -->
<div class="impact-bubble improving" style="width: 80px; height: 80px; top: 50px; left: 100px;">
  SEO tools<br>Pos: 4.2
</div>
<div class="impact-bubble stable" style="width: 60px; height: 60px; top: 120px; left: 250px;">
  Keyword<br>Pos: 8.5
</div>
<div class="impact-bubble declining" style="width: 100px; height: 100px; top: 80px; left: 400px;">
  Content<br>marketing<br>Pos: 12.8
</div>
<div class="impact-bubble improving" style="width: 70px; height: 70px; top: 180px; left: 320px;">
  Google<br>ranking<br>Pos: 6.3
</div>
